.header__buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header__button {
	&:not(:last-child) {
		margin-right: 14px;
	}
}

.header__button--link {
	background-color: $grey;
	border: 1px solid $ultra_light_white;
	border-radius: 8px;
	width: 48px;
	height: 48px;
	padding: 10px;
	color: $white;


	@include hover() {
		.header__button--link-svg {
			color: $white;
		}
	}
}

.header__button--link-svg {
	max-width: 100%;
	max-height: 100%;
	color: $light_white;
	transition: color $easeDefault;
}


@media (max-width: $mobileMax) {
	.header__button {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	.header__button--link {
		width: 34px;
		height: 34px;
		padding: 6px;
	}
}
