.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	z-index: $header_depth;
}

@media (max-width: $mobileMax) {
	.header {
		padding: 15px;
		background-color: $black;
	}
}
