/****************************/
/* -------- Global -------- */
/****************************/

html {
	box-sizing: border-box;
	min-height: $contentMinH;

	&.notouch {
		body {
			overscroll-behavior-x: auto !important;
			overscroll-behavior-y: none;
		}
	}

	&.touch {
		body {
			overscroll-behavior: auto !important;
		}
	}
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

::selection {
	color: $white;
	background: $highlight;
	text-shadow: none;
}

::-moz-selection {
	color: $white;
	background: $highlight;
	text-shadow: none;
}

body {
	font: 400 16px / 1.65 $font;
	display: flex;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	min-height: calc($contentMinH - $margin_content * 2);
	color: $white;
	background-color: $black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.flx_preview & {
		overflow-y: hidden;
	}
}

a {
	display: block;
	width: fit-content;
	transition: color $easeDefault;
	text-decoration: none;
	color: $light_white;

	@include hover() {
		color: $white;
	}

	&.link--underline {
		position: relative;

		&::before {
			position: absolute;
			bottom: 0.4em;
			left: 50%;
			width: 100%;
			height: 1px;
			content: "";
			transform: translateX(-50%);
			background-color: currentColor;
		}
	}
}

svg {
	display: block;
	width: 100%;
	height: 100%;
}

.visibility__hidden {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
}

