#app {
	width: 100%;
	position: relative;
}

body {
	&::before, &::after {
		content: "";
		position: fixed;
		left: 0;
		width: 100%;
		height: 100px;
		overflow: hidden;
		z-index: calc(#{$content_depth} + 1);
		pointer-events: none;
	}

	&::before {
		top: 0;
		background: linear-gradient(0deg, rgba($black, 0) 1%, $black 100%);
	}

	&::after {
		bottom: 0;
		background: linear-gradient(0deg, #{$black} 1%, rgba($black, 0) 100%);
	}
}

@media (max-width: $mobileMax) {
	body {
		&::before, &::after {
			height: 50px;
		}

		&::before {
			top: 68px;
		}
	}

	#app main {
		width: 100%;
		max-width: 100%;
		padding-left: var(--padding);
		padding-right: var(--padding);
	}
}
