/*******************************/
/* -------- Variables -------- */
/*******************************/

/* -------- Colors -------- */

$black: #050505;
$grey: #1e1e1e;
$light_grey: #5d5d5d;
$off_white: #ebebeb;
$white: #fff;
$light_white: rgba($white, 0.6);
$very_light_white: rgba($white, 0.15);
$ultra_light_white: rgba($white, 0.04);
$red: #dc483e;
$highlight: $red;

$focusColor: $white;
$focusBg: $black;

$contentMinH: 100vh;

/* -------- Fonts -------- */

$font: "Magnat Text", serif;
$fontTitle: "Magnat Head", serif;

/* -------- Grid -------- */

$max_width: 1610px;
$column_width: 70px;
$gap_width: 30px;
$margin_width: 20px;

/* -------- Layout -------- */

$margin_content: 40px;
$padding_content: 2.6vw;

:root {

}

$content_width: var(--content_width);

// -------- Eases --------

:root {
	--ease-duration: 0.3s;
	--margin-content: #{$margin_content};
}

$easeDefault: var(--ease-duration) $easeOutQuad;
$easeDefaultType: $easeOutQuad;

/* -------- Z-indexes -------- */

$content_depth: 10;
$footer_depth: 15;
$header_depth: 20;
$menu_depth: 40;
$contact_depth: 50;
$dl_depth: 30;

/* -------- Responsive -------- */

// Desktop
$mediumMin: 1281px;
$mediumMax: 1280px;

// Tablet
$mobileMin: 961px;
$mobileMax: 960px;

// Smartphones
$smallMin: 501px;
$smallMax: 500px;

/* -------- Paddings -------- */

:root {
	@media (min-width: $mobileMin) {
		--padding: 30px;
		--content_width: 490px;
	}

	@media (max-width: $mobileMax) {
		--padding: 15px;
		--content_width: 100%;
	}
}
