.home {
	max-width: $content_width;
	margin: 0 auto 0 auto;
	padding-top: 120px;
	padding-bottom: 120px;

	@media (min-width: $mobileMin) and (max-width: 1299px) {
		width: 50%;
	}
}

.message__item {
	&:not(:last-child) {
		margin-bottom: 40px;
	}
}

@media (max-width: $mobileMax) {
	.home {
		padding-top: 120px;
		padding-bottom: 70px;
	}
}
